/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-custom {
  background-color: #009688;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-btm {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.pointer {
  cursor: pointer;
}

body {
  font-family: "Outfit", sans-serif !important;
}

.shadow-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* home page */

.main-text {
  width: 50% !important;
}

@media screen and (max-width: 480px) {
  .main-text {
    width: 90% !important;
    margin-top: 3em !important;
  }
}

/* loading screen home page */

.loading-modal .modal-content {
  background: none !important;
  border: 0;
}

.spinner2 {
  position: relative;
  width: 40.7px;
  height: 40.7px;
  margin-top: 5em;
}

.spinner2 div {
  animation: spinner-4t3wzl 1.875s infinite backwards;
  background-color: #ffc107;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner2 div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(255, 193, 7, 0.9);
}

.spinner2 div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(255, 193, 7, 0.8);
}

.spinner2 div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(255, 193, 7, 0.7);
}

.spinner2 div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(255, 193, 7, 0.6);
}

.spinner2 div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(255, 193, 7, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}

/* go up button */

.go-up-btn {
  position: fixed;
  right: 5%;
  top: 90%;
  background-color: #ffc107 !important;
}

/* navbar */

.drop-nav {
  background-color: #ffc107 !important;
}

#dropdown-basic::after {
  display: none;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 480px) {
  .drop-settings {
    left: -170% !important;
    min-width: 7rem !important;
  }
}

.drop-settings {
  left: -100% !important;
  min-width: 7rem !important;
}

/* header */

.header-bg {
  background-color: #009688;
}

.scende {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sale {
  animation: slide-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.topbar {
  position: fixed;
  top: 90px;
  background-color: #009688;
  overflow-x: hidden;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.rotate-center {
  animation: rotate-center 1.8s linear infinite;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-nav {
  z-index: 1;
  overflow-x: hidden;
}
/* register form */

.password-input {
  width: 90% !important;
  border-right: 0px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.eye-container {
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-left: 0px;
  height: 42px;
  margin-bottom: 5px;
  border-radius: 0 5px 5px 0;
}

.testo-out {
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

.testo-in {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-500px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

#modal-login .modal-content {
  background: none !important;
  border: 0px;
}

/* profile page */

.profile-tab .nav-link {
  color: black !important;
}

.profile-tab-dark .nav-link {
  color: white !important;
}

.profile-edit {
  bottom: 0%;
  left: 78%;
}

.btn-form-upload {
  border: aliceblue;

  color: white;
  background: none;
}

/* checkmark */

.success-animation {
  margin-left: 1em;
}

.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 50%;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

/* spinner for profile image upload */
.spinner {
  width: 4.8px;
  height: 4.8px;
  animation: spinner-z355kx 1.2s infinite linear;
  border-radius: 4.8px;
  box-shadow: 12px 0px 0 0 #ffffff, 7.4px 9.4px 0 0 #ffffff,
    -2.6px 11.6px 0 0 #ffffff, -10.8px 5.2px 0 0 #ffffff,
    -10.8px -5.2px 0 0 #ffffff, -2.6px -11.6px 0 0 #ffffff,
    7.4px -9.4px 0 0 #ffffff;
}
@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}

/* restaurant carousel */

.restaurant-img {
  height: 150px;
  object-fit: cover;
}

.restaurant-target {
  background-color: #ffc107;
}

.shadow-card-carousel {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.zoom:hover {
  animation: zoom-in 0.2s linear forwards;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

/* banner info */

.line-spacer {
  line-height: 1.5em;
}

/* order page */

.filterHeader {
  background-color: #00796b;
  z-index: 1;
  position: sticky;
  top: 11%;
}

.bounce {
  animation: bounce-top 0.7s both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* cart page */

.shake {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

/* payment animation */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffc107;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* CHAT BUBBLE */

.chat-bubble {
  background-color: #ffc107;
  position: fixed;
  right: 5%;
  top: 80%;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(255, 112, 46, 0.9);
  -moz-box-shadow: 0px 0px 22px 0px rgba(255, 112, 46, 0.9);
  box-shadow: 0px 0px 22px 0px rgba(255, 112, 46, 0.9);
}

.chat-box {
  position: absolute;
  top: -490%;
  right: 110%;
  width: 230px;
}

@media screen and (max-width: 480px) {
  .chat-box {
    position: absolute;
    top: -690%;
    right: 110%;
    width: 230px;
  }

  .chat-bubble {
    background-color: #ffc107;
    position: fixed;
    right: 6%;
    top: 80%;
  }
}

.chat-inner {
  background-color: #00796b;
  color: white;
}

.chat-message {
  background-color: #ffc107;
}

.chat-user-message {
  background-color: #00796b;
  color: white;
}

.chat-container {
  height: 200px;
  background-image: radial-gradient(#212121 2px, transparent 2px);
  background-size: 24px 24px;
  background-color: #b2dfdb;
  overflow-y: scroll;
}

.chat-on {
  animation: tilt-in-br 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.chat-off {
  animation: tilt-out 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tilt-in-br {
  0% {
    transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px)
      skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-out {
  0% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(-35deg) rotateX(-20deg) translate(250px, 250px)
      skew(12deg, 15deg);
    opacity: 0;
  }
}

/* REVIEWS SECTION */

.reviews-container {
  background-color: #bdbdbd;
}

/* BACKOFFICE SECTION */

.search-input-products {
  height: 38px;
  /* width: 70%; */
}

.tooltip-product .tooltip-inner {
  background-color: white !important;
  max-width: 100%;
  width: 300px;
  display: flex;
}
.tooltip-product {
  width: 300px !important;
  justify-content: space-between !important;
}

.spinner-prod {
  width: 4.8px;
  height: 4.8px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 4.8px;
  box-shadow: 12px 0px 0 0 #ffc107, 7.4px 9.4px 0 0 #ffc107,
    -2.6px 11.6px 0 0 #ffc107, -10.8px 5.2px 0 0 #ffc107,
    -10.8px -5.2px 0 0 #ffc107, -2.6px -11.6px 0 0 #ffc107,
    7.4px -9.4px 0 0 #ffc107;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}
