/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700&display=swap");

.bg-custom {
  background-color: #009688;
}

.shadow-btm {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body {
  font-family: "Outfit", sans-serif;
}

/* header */
